$white-color: #fff;
$black-color: #000;
$off-green-color: #7dbe6c;
.heading-style {
  font-weight: 700;
}
div {
  .flex-container {
    display: flex;
    align-items: stretch;
  }
  div {
    // padding: 10px;
    .filter {
      background-color: $white-color;
      padding: 10px;
      div {
        .year-btn {
          padding: 0px;
          width: 90%;
          margin-left: 5%;
          .year-btn-style {
            color: $black-color;
            background-color: $off-green-color;
            border-radius: 12px;
          }
          .year-btn-style:hover {
            background-color: #05a80b;
          }
        }
      }
    }
  }
  div {
    .mission {
      //background-color: $white-color;
      color: $black-color;
      //margin-left: 5%;
      font-size: 10px;
      .flex-container1 {
        // display: flex;
        // height: 100%;
        // flex-wrap: wrap;
        // align-content: space-between;
        // background-color: $white-color;
        padding-bottom: 10px;
        padding-left: 10px;
        .card-container {
          // width: 200px;
          // margin: 10px;
          text-align: center;
          .misssion-name {
            color: blue;
            text-align: left;
          }
          .mission-data {
            text-align: left;
          }
        }
      }
    }
  }
}
